header { 
    position: fixed; 
    top: 0px; 
    z-index: 100; 
    width: 100%;
    background: rgba(255,255,255,0.85);
    &.reverse { background: rgba(0,0,0,.08); 
        .category {
            &:after { opacity: 0.3; }
            /* 2023-01-10*/
            .list-item {
                > a { color: #fff; 
                    &.none { color: #f00!important; }
                }
            }
        }
    }
    .main-logo {
        position: absolute;
        top: 35px;
        left: 60px;
        width: 120px; 
        height: 31px;
        background: url('../../assets/images/logo.svg') 0 0 no-repeat;
        z-index: 10;
    }
    .category { 
        display: flex; 
        position: relative; 
        justify-content: center; 
        align-items: center; 
        align-content: center;
        &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
        }
        &.mobile-layout { display: none; }
        .list-item { 
            position: relative; 
            height: 100px; 
            line-height: 100px; 
            padding: 0px 3.1250vw; 
            &:hover {
                > a { position: relative; color: $primary-color!important;
                    &:after { width: 100%; }
                 }
                .item-depth { opacity: 1; pointer-events: all; }
            }
            &.active { 
                > a { color: $primary-color!important;
                    &:after { width: 100%; }
                }
            }
            > a { position: relative; font-size: 16px; color: #000; text-transform: $capitalize; text-decoration: none;
                &:after { width: 0; transition: .3s ease-in-out; 
                    content: '';
                    position: absolute;
                    bottom: -6px;
                    left: 0px;
                    width: 0%;
                    color: $primary-color!important;
                    border-bottom: 3px solid $primary-color; 
                }
            }
            .item-depth { 
                position: absolute;
                top: 99px; 
                left: 50%;
                z-index: 100;
                min-width: 150px;
                padding: 20px 25px; // 2023-01-10
                box-sizing: border-box;
                background: #fff;
                transform: translate(-50%, 0%);
                box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.16);
                pointer-events: none;
                opacity: 0;
                li { line-height: normal; padding: 10px 0px; 
                    a { font-size: 14px; color: #000; text-transform: $capitalize; 
                        &.none { color: #f00; } // 2023-01-10
                    }
                    &:hover { 
                        a { color: $primary-color;; border-bottom: 1px solid $primary-color; }
                    }
                }
            }
        }
    }
}
footer { padding: 50px 60px; background: #333;
    .footer-logo { width: 120px; height: 31px; background: url('../../assets/images/footer_logo.svg') 0 0 no-repeat; }
    .company-info { display: flex; padding-top: 20px; justify-content: space-between;
        .info-list { display: flex; font-size: 18px;
            .list-item { position: relative; padding-right: 20px; margin-right: 20px; color: #ddd;
                a { color: #fff; text-decoration: underline; } 
                &:after {
                    content: '';
                    position: absolute;
                    top: 5px;
                    right: -0.5px;
                    width: 1px;
                    height: 18px;
                    background: #666;
                }
                &:first-child,&:last-child { 
                    &:after { content: none; }
                }
            }
        }
        .copyright { color: #999; }
    }
}
.section { display: flex; justify-content: center; overflow: hidden; }
.top-banner { 
    position: relative; 
    z-index: 10; 
    display: flex;
    min-height: 282px;
    margin-top: 100px; 
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        background: #000;
    }
    &.banaple { background: url('../../assets/images/common/banaple_sub_visual.png') 0 0 no-repeat;  background-size: cover; }
    &.service { background: url('../../assets/images/common/banapresso_sub_visual.png') 0 0 no-repeat;  background-size: cover; }
    &.recruit { background: url('../../assets/images/common/recruit_sub_visual.png') 0 0 no-repeat;  background-size: cover; }
    .title { line-height: 61px; font-size: 48px; font-weight: bold; color: #fff; }
    .description { 
        line-height: 34px; 
        padding-top: 20px; 
        font-size: 22px; 
        color: #fff; 
        opacity: 0.7;
    }
}
.mobile-layout { display: none; }

@media (max-width: 1240px) {
    header {
        display: flex;
        width: calc(100% - 40px); 
        height: 75px;
        padding: 0px 20px; 
        background: rgba(255,255,255,.8);
        align-items: center;
        justify-content: space-between;
        /* 2023-01-10 */
        &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 1px;
            background: #e8e8e8;
            opacity: 0.3;
        }
        .main-logo { position: static; z-index: 0; width: 90px; height: 24px; background: url('../../assets/images/mobile/logo.svg') 0 0 no-repeat; }
        .category { 
            position: absolute;
            top: 0px;
            right: 0px;
            align-items: flex-start;
            transform: translate(66%, 0px);
            transition: .4s ease;
            &.mobile-layout { display: flex; height: 70px; 
                &.active { height: auto; align-items: flex-start; transform: translate(0%, 0px);
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: -66.6667vw;
                        width: calc(100vw - -66.6667vw);
                        background: #000;
                        opacity: 0.7;
                        z-index: -1;
                    }
                    .menu-btn { width: 20px; padding-right: 10px;
                        &:before { transform: rotate(45deg); transform-origin: top left; }
                        &:after { transform: rotate(-45deg); transform-origin: bottom left; }
                        span { opacity: 0; }
                    }
                    .menu-view { width: 66.6667vw; height: 100vh; background: #fff; opacity: 1;}
                }
            }
            &.pc-layout { display: none; }
            &:after { border-bottom: 0px!important; }
            .menu-btn { padding: 25px 20px 25px 0px; margin: 2px 0px;
                &:before { content: ''; display: block; width: 26px; height: 2px; background: $primary-color; transition: .4s ease; }
                &:after { content: ''; display: block; width: 26px; height: 2px; background: $primary-color; transition: .4s ease; }
                span { display: block; width: 26px; height: 2px; margin: 7px 0px; background: $primary-color; transition: .4s ease; }
            }
            .menu-view { opacity: 0;
                .menu-list {
                    > .list-item {    
                        height: auto;
                        line-height: normal;
                        padding: 0px;
                        border-bottom: 1px solid #e8e8e8;
                        > a,
                        p { display: block;
                            height: 76px;
                            line-height: 76px;
                            padding-left: 20px;
                            color: #000;
                            &:hover { padding-bottom: 0px; border: 0px; color: #000!important; }
                            &:after { content: none; }
                        }
                        &.depth { position: relative;
                            &:after { 
                                content: '';
                                position: absolute;
                                top: 30px;
                                right: 20px;
                                width: 16px;
                                height: 16px;
                                background: url('../../assets/images/icon/i_list_open_menu.svg') 0 0 no-repeat; 
                                transition: .2s ease;
                            }
                            &.active { 
                                &:after {
                                    transform: rotate(180deg);
                                }
                                .depth-list { display: block; }
                            }
                        }
                        .depth-list { display: none; padding-top: 20px; border-top: 1px solid #999;
                            > .list-item { height: auto; line-height: normal; padding: 0px 0px 20px 20px;
                                a { color: #666; 
                                    &:hover { padding-bottom: 0px; border: 0px; color: #666!important; }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .section {
        .inner { min-width: 0px!important; }
    }
    footer { padding: 30px 20px; 
        .footer-logo { width: 90px; height: 23px; background-size: 90px 23px; }
        .company-info { justify-content: baseline; flex-direction: column;
            .info-list { flex-direction: column;
                .list-item { padding-top: 6px; margin: 0px; font-size: 12px; 
                    &:first-child { padding-top: 0px; padding-bottom: 11px; font-weight: bold; }
                    &:after { content: none; }
                }
            }
            .copyright { padding-top: 20px; font-size: 12px; }
        }
    }
    .swiper-btn-wrap { top: 114.167vw; left: 5.556vw; height: auto;
        .swiper-pagination { display: flex; align-items: center; gap: 2.222vw; 
            .swiper-pagination-bullet {     
                width: 1.667vw;
                height: 1.667vw;
                margin: 0px;
                background: #fff;
                opacity: 0.8;
                &.swiper-pagination-bullet-active { 
                    width: 3.889vw;
                    height: 3.889vw;
                    background: none;
                    border: 0.556vw solid #fff;
                    margin: 0px;
                    box-sizing: border-box; 
                }
            }
        }
    }
    .pc-layout { display: none; }
    .mobile-layout { display: block; }
}