@media (max-width: 1240px) {
    header { 
        display: flex;
        width: calc(100% - 40px); 
        padding: 26px 20px; 
        border-bottom: 1px solid #fff3;
        justify-content: space-between;
        &.main-header { 
            .category {
                .menu-btn {
                    &:before { background: #fff; }
                    &:after { background: #fff; }
                    span { background: #fff; }
                }
            }
        }
        .main-logo { position: static; z-index: 0; width: 90px; height: 24px; background: url('../../assets/images/mobile/logo.svg') 0 0 no-repeat; }
        .category { 
            position: absolute;
            top: 0px;
            right: 0px;
            align-items: flex-start;
            transform: translate(66%, 0px);
            transition: .4s ease;
            &.mobile-layout { display: flex; }
            &.pc-layout { display: none; }
            &:after { content: none; }
            &.mobile-layout.active { display: flex; align-items: flex-start; transform: translate(0%, 0px);
                &:after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: -66.6667vw;
                    width: calc(100vw - -66.6667vw);
                    background: #000;
                    opacity: 0.7;
                    z-index: -1;
                }
                .menu-btn {
                    &:before { transform: rotate(45deg); transform-origin: top left; }
                    &:after { transform: rotate(-45deg); transform-origin: bottom left; }
                    span { opacity: 0;}
                }
                .menu-view { width: 66.6667vw; height: 100vh; background: #fff; opacity: 1;}
            }
            .menu-btn { padding-top: 26px; padding-right: 20px;
                &:before { content: ''; display: block; width: 26px; height: 2px; background: #1dcad3; transition: .4s ease; }
                &:after { content: ''; display: block; width: 26px; height: 2px; background: #1dcad3; transition: .4s ease; }
                span { display: block; width: 26px; height: 2px; margin: 7px 0px; background: #1dcad3; transition: .4s ease; }
            }
            .menu-view { opacity: 0;
                .menu-list {
                    > .list-item {    
                        height: auto;
                        line-height: normal;
                        padding: 0px;
                        border-bottom: 1px solid #e8e8e8;
                        > a,
                        p { display: block;
                            height: 76px;
                            line-height: 76px;
                            padding-left: 20px;
                            color: #000;
                            &:hover { padding-bottom: 0px; border: 0px; color: #000!important; }
                            &:after { content: none; }
                        }
                        &.depth { position: relative;
                            &:after { 
                                content: '';
                                position: absolute;
                                top: 30px;
                                right: 20px;
                                width: 16px;
                                height: 16px;
                                background: url('../../assets/images/icon/i_list_open_menu.svg') 0 0 no-repeat; 
                                transition: .2s ease;
                            }
                            &.active { 
                                &:after {
                                    transform: rotate(180deg);
                                }
                                .depth-list { display: block; }
                            }
                        }
                        .depth-list { display: none; padding-top: 20px; border-top: 1px solid #999;
                            > .list-item { height: auto; line-height: normal; padding: 0px 0px 20px 20px;
                                a { color: #666; 
                                    &:hover { padding-bottom: 0px; border: 0px; color: #666!important; }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer { padding: 30px 20px; 
        .footer-logo { width: 90px; height: 23px; background-size: 90px 23px; }
        .company-info { justify-content: baseline; flex-direction: column;
            .info-list { flex-direction: column;
                .list-item { padding-top: 6px; margin: 0px; font-size: 12px; 
                    &:first-child { padding-top: 0px; padding-bottom: 11px; font-weight: bold; }
                    &:after { content: none; }
                }
            }
            .copyright { padding-top: 20px; font-size: 12px; }
        }
    }
    .container { 
        .top-banner { min-height: 47.222vw; margin-top: 77px; 
            &.banaple { background: url('../../assets/images/mobile/banaple_sub_visual.png') 0 0 no-repeat;  background-size: cover; }
            &.service { background: url('../../assets/images/mobile/banapresso_sub_visual.png') 0 0 no-repeat;  background-size: cover; }
            &.recruit { background: url('../../assets/images/mobile/recruit_sub_visual.png') 0 0 no-repeat;  background-size: cover; }
            .title { line-height: 9.722vw; font-size: 7.778vw; }
            .description { line-height: 5.556vw; padding-top: 2.778vw; font-size: 3.889vw; }
        }
    }
    #section0 {
        .banner-area {
            .scroll-status { bottom: 20px; transform: translate(-50%, 0%); }
            .video-sound { bottom: 20px; right: 20px; }
            .banner-wrap {
                .description { left: 20px; line-height: 67px; font-size: 54px; }
            }
        }
    }
    #section1 { padding-top: 77px;
        .contents-wrap { margin-top: 8.3333vw; align-items: baseline; flex-direction: column;
            > div { width: calc(100% - 11.1111vw); height: 105.5556vw; min-height: 380px; padding: 30px 5.5556vw;
                &:after { background: #000; opacity: 0.7; }
            }
            .number { font-size: 48px; -webkit-text-stroke: 1px #1dcad3; }
            .title { padding-top: 5.5556vw; font-size: 8.8889vw; }
            .description { line-height: 7.2222vw; padding-top: 3.8889vw; font-size: 4.4444vw; }
            .btn-more { bottom: 11.1111vw; right: 5.5556vw; 
                &:after { background: url('../../assets/images/icon/i_more_arrow_hover.svg') right bottom no-repeat; }
            }
        }
    }
    #section2 { padding-top: 77px;
        .fp-overflow { width: auto; padding: 0px; }
        .content-wrap { margin-top: 8.3333vw; 
            .contents-list {
                .list-item { flex-direction: column; align-items: baseline; 
                    &:nth-child(even) { margin: 0px; flex-direction: column; }
                    .image { width: 100%;
                        img { width: 100%; }
                    }
                    .contents { width: calc(100% - 11.1112vw); padding: 8.3333vw 5.5556vw; 
                        .title { display: flex; line-height: 12.2222vw; font-size: 13.3333vw; flex-direction: row; flex-wrap: wrap;
                            .point { font-size: 13.3333vw; }
                        }
                        .date { line-height: 11.6667vw; padding-top: 5.5556vw; font-size: 7.2222vw; }
                        .description { padding-top: 4.1667vw; 
                            .text { line-height: 7.2222vw; font-size: 4.4444vw; }
                        }
                    }
                }
            }
        }
    }
    #section3 {
        .fp-overflow { padding: 0px 5.5556vw;
            .title { line-height: 9.4444vw; font-size: 6.1111vw; }
            .description { min-width: 88.8889vw; padding-top: 41.6667vw; margin-top: 13.8889vw; font-size: 4.4444vw; background-size: 88.8889vw 37.5000vw; }
        }
    }
    #section4 { padding-top: 77px;
        .fp-overflow { padding-top: 0px; }
        .ask-list { 
            padding: 8.3333vw 0px;
            margin-top: 8.3333vw;
            flex-direction: column; 
            border-top: 1px solid #e8e8e8;
            .list-item { 
                height: auto;
                line-height: normal;
                padding: 0px; 
                margin: 0px; 
                border: 0px; 
                justify-content: center;
                &.technical { background: none; 
                    a {
                        .title { padding-left: 7.5vw; background: url('../../assets/images/icon/i_technology.svg') 0px center no-repeat; background-size: 4.7222vw; } 
                    }
                }
                &.business { background: none; 
                    a {
                        .title { padding-left: 7.5vw; background: url('../../assets/images/icon/i_business.svg') 0px center no-repeat; background-size: 4.7222vw; }
                    }
                }
                &.job { background: none; 
                    a {
                        .title { padding-left: 7.5vw; background: url('../../assets/images/icon/i_job.svg') 0px center no-repeat; background-size: 4.7222vw; }
                    }
                }
                a {
                    .title { line-height: 9.4444vw; font-size: 4.4444vw; }
                    .description { line-height: 9.4444vw; font-size: 4.4444vw; 
                        &:after { top: 2.7778vw; height: 3.8889vw; }
                    }
                }
            }
        }
        .map {     
            height: 68.0556vw;
            color: #fff;
            text-align: center;
            background: #1dcad3;
        }
    }
    .swiper-btn-wrap { top: 120px; left: 20px; 
        .swiper-pagination-custom { font-size: 4.4444vw;}
    }

    .fp-viewing-1 {
        header { border-bottom: 1px solid #e8e8e8; background: #fff; }
    }

    .pc-layout { display: none; }
    .mobile-layout { display: block; }
}